@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&family=Rowdies:wght@300;400;700&display=swap");

body {
  background-color: antiquewhite;
}

#cabecalho {
  height: auto;
  padding: 1rem;
  color: darkgreen;
  clear: both;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

h1 {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
}

#cabecalho ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 11rem;
  font-size: 3vh;
}

.linha {
  text-decoration: none;
  margin-inline: 1rem;
  font-family: "Rowdies", sans-serif;
  color: green;
}

#menu {
  background-color: lightblue;
  width: 20%;
  height: 300px;
  float: left;
}

#conteudo {
  background-color: blue;
  width: 60%;
  height: 300px;
  float: left;
  color: white;
}

#lado-direito {
  background-color: lightyellow;
  width: 20%;
  height: 300px;
  float: right;
}

#rodape {
  background-color: white;
  height: 50px;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  clear: both;
}
