@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans+Warang+Citi&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rowdies:wght@300;400;700&display=swap");
body {
  background-color: floralwhite;
}

#cabecalho {
  height: auto;
  color: darkgreen;
  clear: both;
}

h1 {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  padding: 2rem;
  font-size: 3rem;
}

#cabecalho ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 3.5rem;
  font-size: 3.5vh;
}

.linha {
  text-decoration: none;
  margin-inline: 1rem;
  font-family: "Rowdies", sans-serif;
  color: green;
}

#conteudo {
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  justify-content: space-between;
}

.img-vida {
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  position: relative;
  bottom: 3.5rem;
}

.titulo-int {
  position: relative;
  bottom: 5rem;
  font-size: 2.5rem;
  left: 10rem;
  font-family: "Forum", serif;
  font-style: italic;
  font-weight: 550;
  white-space: nowrap;
}

.text-int {
  position: relative;
  right: 25rem;
}

#rodape {
  background-color: white;
  height: auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  clear: both;
}
