@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans+Warang+Citi&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");
body {
  background-color: antiquewhite;
  color: #666666;
}

#cabecalho {
  font-family: "Jost";
  color: rgb(34, 173, 219);
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  padding: 0.8rem;
  margin-right: 1rem;
}

h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: rgb(22, 147, 189);
  border-radius: 2.5px;
}

.nav-center {
  background-color: rgb(34, 173, 219);
  border-radius: 1rem;
}

.nav-center a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-right {
  background-color: rgb(34, 173, 219);
  border-radius: 1rem;
  margin-right: 1rem;
}

.nav-right a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
}

#conteudo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
h2 {
  color: #666666;
}

.texto-int {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #666666;
  text-align: justify;
}

.titulo-int {
  margin-top: 5rem;
}

.texto-int img {
  max-width: 20rem;
  height: auto;
}

.texto2 {
  text-align: justify;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.texto2 img {
  max-width: 20rem;
}

.texto3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 1rem;
}

.texto3 img {
  max-width: 30rem;
  height: auto;
}

#error-message {
  color: red;
}

form {
  margin-top: 2rem;
  background-color: rgb(54, 178, 220);
  border: 1px solid rgb(22, 147, 189);
  border-radius: 8px;
  padding: 1rem;
  width: 80%;
  box-shadow: 0 0.2rem 0.5rem #666666;
  margin-left: 9rem;
}

label {
  display: block;
  margin-top: 18px;
  font-size: 1.5rem;
  margin-right: 2rem;
  color: #fff;
  height: 1.8rem;
}

textarea {
  width: 40%;
  padding: 1rem;
  font-size: 1rem;
  border: 1.5px solid #fff;
  border-radius: 0.8rem;
  resize: none;
  margin-bottom: 0.5rem;
}

textarea:focus {
  border-color: #666666;
  box-shadow: 0 0 5px #fff;
  outline: none;
}

button {
  border: none;
  background-color: rgb(29, 158, 202);
  padding: 0.4rem 1rem;
  border-radius: 9px;
  cursor: pointer;
  margin-left: 30rem;
  width: 45%;
  height: 3rem;
  font-size: 1.5rem;
  color:#fff;
}

button:hover {
  background-color: rgb(22, 147, 189);
  transform: scale(1.05);
}

button:active {
  background-color: rgb(9, 111, 145);
  transform: scale(1.15);
}

button:disabled {
  background-color: blue;
  cursor: not-allowed;
}

.descricao{
  display: flex;
  justify-content: center;
}

{
  display: none;
  position: fixed;
  background-color: rgb(22, 147, 189, 0.5) ;
}


