@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans+Warang+Citi&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rowdies:wght@300;400;700&display=swap");
body {
  background-color:antiquewhite ;
}

#cabecalho {
  color:rgb(34, 173, 219);
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.nav{
  display: flex;
  justify-content: space-between;
}