@import url("https://fonts.googleapis.com/css2?family=Forum&family=Noto+Sans+Warang+Citi&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans serif;
}

body {
  background-color: antiquewhite;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 1px 1px 3px #666666;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 1rem;
}

.form-image img {
  width: 34rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(34, 173, 219);
  padding: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.linha1 {
  display: flex;
  justify-content: space-between;
}

.linha2 {
  display: flex;
  justify-content: space-between;
}

.gender {
  display: flex;
  justify-content: space-evenly;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

.header button {
  border: none;
  background-color: rgb(29, 158, 202);
  padding: 1rem 1.5rem;
  border-radius: 9px;
  cursor: pointer;
}

.header button:hover {
  background-color: rgb(22, 147, 189);
  transform: scale(1.05);
}

.header h1::after {
  content: "";
  display: block;
  width: 8rem;
  height: 0.4rem;
  background-color: rgb(22, 147, 189);
  border-radius: 2.5px;
}

.header h1 {
  color: #fff;
  font-size: 3rem;
}

.linha3 {
  margin-top: 2rem;
}

.input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #666666;
}

.input:hover {
  background-color: #eeeeee75;
}

.input:focus-visible {
  outline: 1px solid #666666;
}

.input label,
.gender h4 {
  font-weight: 600;
  color: #fff;
}

label {
  font-family: "Jost", sans-serif;
  padding: 1rem;
  color: #fff;
  font-size: 1.2rem;
}

h4 {
  color: #fff;
  font-size: 2rem;
}

